# Binaries
dist/
*.exe
/dilithium
/dilithium-cli
/dilithium-miner
/myblockchain
/rebellion
/rebellion-cli
/rebellion-miner

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test wallets
*.pem

# Wallet desktop app
cmd/dilithium-wallet/build/bin/
cmd/dilithium-wallet/frontend/node_modules/
cmd/dilithium-wallet/frontend/dist/
